blessings==1.7
boto==2.49.0
boto3==1.7.77
botocore==1.10.77
bz2file==0.98
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
cymem==1.31.2
cytoolz==0.9.0.1
dill==0.2.8.2
docutils==0.14
gensim==3.5.0
gpustat==0.4.1
hypothesis==2.0.0
idna==2.7
jmespath==0.9.3
kiwisolver==1.0.1
matplotlib==2.2.2
msgpack==0.5.6
msgpack-numpy==0.4.1
msgpack-python==0.5.4
murmurhash==0.28.0
nltk==3.3
numpy==1.14.5
nvidia-ml-py3==7.352.0
pandas==0.23.4
pathlib==1.0.1
Pillow==5.1.0
plac==0.9.6
preshed==1.0.0
psutil==5.4.6
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
rake-nltk==1.0.4
requests==2.19.1
s3transfer==0.1.13
scipy==1.1.0
seaborn==0.9.0
sentencepiece==0.1.2
simplediff==1.0
six==1.11.0
smart-open==1.6.0
subword-nmt==0.3.3
summa==1.0.0
termcolor==1.1.0
toolz==0.9.0
torch==0.4.0
torchtext==0.2.3
torchvision==0.2.1
tqdm==4.23.4
ujson==1.35
urllib3==1.23
wrapt==1.10.11
